{% extends 'ProyectoWebApp/base.html' %}
{% block titulo %}Contacto{% endblock %}
{% block contenido %}
    {% load static %}
    <section class="container">
        <div class="row justify-content-center">
            {% if "valido" in request.GET %}
                <div class="alert alert-success mt-2 text-center" role="alert">
                    <strong>Se ha enviado tu mensaje, pronto estaremos en contacto.</strong>
                </div>
            {% else %}
                <h1 class="text-primary text-center mt-2">Sección de Contacto</h1>
            {% endif %}
            <div class="col-6 mt-5">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        {{ formulario.nombre }}
                    </div>
                    <div class="form-group">
                        <label for="nombre">Email</label>
                        {{ formulario.email }}
                    </div>
                    <div class="form-group">
                        <label for="nombre">Mensaje</label>
                        {{ formulario.contenido }}
                    </div>
                    <div class="form-group mt-2 text-center">
                        <button type="submit" class="btn btn-lg btn-success">Contactar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}  