{% extends 'ProyectoWebApp/base.html' %}
{% block titulo %}Tienda{% endblock %}
{% block contenido %}
    {% load static %}
    <section class="container">
        <div class="row">
            <div class="col-8 row">
            <!-- tablero de carrito: -->
            <div class="col-12 text-center">
                <h2 class="text-primary">Carro de Compras</h2>
            </div>
            <div class="col-6">
                <h3 class="text-primary">Producto</h3>
            </div>
            <div class="col-3">
                <h3 class="text-primary">Cant.</h3>
            </div>
            <div class="col-3">
                <h3 class="text-primary">Opciones</h3>
            </div>
            <!-- Validación de objeto carro en el diccionario de session -->
            {% if request.session.carro.items %}
            <!-- Ciclo para traer los productos del carro -->
                {% for key, value in request.session.carro.items %}
                    <div class="col-6 mt-1">
                        <strong class="text-dark">{{ value.nombre }}</strong>
                    </div>
                    <div class="col-3 mt-1">
                        <strong class="text-dark">{{ value.cantidad }}</strong>
                    </div>
                    <div class="col-3 mt-1">
                        <a href="{% url 'carro:adicionar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                        <a href="{% url 'carro:restar' value.producto_id %}" class="btn btn-sm btn-danger">-</a>
                    </div>
                {% endfor %}
                <div class="col-12 bg-dark text-light text-center">
                    <h4>Total =  $ {{ importe_total }}</h4>
                </div>
            {% else %}
                <div class="col-12 bg-dark text-light text-center">
                    Tu carrito está vacio {{ cantidades }}
                </div>
            {% endif %}
            </div>
            <div class="col">

            </div>
        </div>
    </section>

{% endblock %}