{% extends 'ProyectoWebApp/base.html' %}
{% block titulo %}Registro de usuario{% endblock %}

{% block contenido %}
    {% load static %}
    <main class="container registro align-middle mt-2">
        <div class="row">
            <form action="" method="post" class="col-6">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal text-center">
                    Registro de Usuarios
                </h1>
                <hr>
                {{ form.as_p }}
                <button type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
            </form>
            <section class="col-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'media/img/logoview.png' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'media/img/logo.png' %}" class="d-block w-100" alt="...">
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </section>
        </div>
    </main>

    {% endblock %}